name: Keep Render Service Alive

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Ping Render API with retry
        run: |
          for i in 1 2 3
          do
            curl -s https://prediction-model-wi0s.onrender.com/predictions && break
            echo "Retry $i..."
            sleep 10
          done
